#Updated at Sat Nov 03 18:24:39 EET 2012
#Sat Nov 03 18:24:39 EET 2012
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.R.File=application.log
log4j.rootLogger=ERROR, stdout
log4j.appender.R.MaxFileSize=100KB
log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.MaxBackupIndex=1
log4j.logger.org.springframework.web=ERROR
log4j.logger.com.agroknow.socnav=DEBUG
# logs the SQL statements
log4j.logger.org.hibernate.SQL=debug
# Logs the JDBC parameters passed to a query
#log4j.logger.org.hibernate.type=trace 
log4j.appender.R.layout.ConversionPattern=%p %t %c - %m%n
log4j.appender.stdout.layout.ConversionPattern=%d [%t] %-5p %c - %m%n
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.R=org.apache.log4j.RollingFileAppender
